@font-face {
    font-family: "Geist";
    src: url("https://assets.codepen.io/605876/GeistVF.ttf") format("truetype");
}

.geist-wrapper {
    --size: 20px;
    display: grid;
    place-items: center;
    min-height: 100vh;
    background: hsl(0 0% 6%);
    box-sizing: border-box;
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.geist-wrapper * {
    box-sizing: border-box;
}

.geist-wrapper .el {
    background: conic-gradient(from 180deg at 50% 70%, hsla(0, 0%, 98%, 1) 0deg, #eec32d 72.0000010728836deg, #ec4b4b 144.0000021457672deg, #709ab9 216.00000858306885deg, #4dffbf 288.0000042915344deg, hsla(0, 0%, 98%, 1) 1turn);
    width: 100%;
    height: 100%;
    mask:
        radial-gradient(circle at 50% 50%, white 2px, transparent 2.5px) 50% 50% / var(--size) var(--size),
        url("/public/noise-mask.png") 256px 50% / 256px 256px;
    mask-composite: intersect;
    animation: flicker 20s infinite linear;
    position: absolute;
    inset: 0;
}

.geist-wrapper h1 {
    position: fixed;
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    margin: 0;
    font-size: clamp(6rem, 8vw + 1rem, 14rem);
    font-family: "Geist", sans-serif;
    font-weight: 140;
    color: hsl(0 0% 2%);
    mix-blend-mode: soft-light;
    filter: drop-shadow(0 0 2px white);
    text-shadow: 2px 2px white;
    pointer-events: none;
    /* Ensure text doesn't block interaction if needed */
}

@keyframes flicker {
    to {
        mask-position: 50% 50%, 0 50%;
    }
}